body
{
	background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(67,52,177,1) 25%, rgba(9,9,9,1) 34%, rgba(145,77,180,1) 46%, rgba(223,71,179,1) 66%, rgba(249,7,91,1) 89%, rgba(252,70,107,1) 100%);
	text-align: center;
	margin-top: 150px;
}

	.login_div1 , .login_div2
	{
		background: rgb(172, 90, 226);
		padding: 10px;
		float: none;
		border-radius: 15px;
		margin-left: 500px;
		margin-top: 50px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
